<a href="https://colab.research.google.com/github/suryoadi12/PACMANN_SKILLS100/blob/main/Basic%20Python%20Programming/3.%20Primitive%20Data%20Structure%3A%20Primitive%20Data%20Structure%20in%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pertemuan 2-1 - Primitive Data Structure on Python**

**1. PRIMITIVE DATA STRUCTURE**

Struktur data adalah cara mengatur dan menyimpan data sehingga dapat diakses dan diolah dengan efisien. Ada dua jenis struktur data pada Python yaitu **primitive data structure** dan **non-primitive data structure** (**composite data structure**). Pada kesempatan kali ini kita akan membahas **primitive data structure**.

Secara umum, Python memiliki empat struktur data primitif:



*   **Integer**

*   **Float**
*   **String**


*   Boolean (akan dibahas pada pertemuan selanjutnya)


Kenapa dinamakan primitif, karena berisi nilai data yang murni dan sederhana.

**INTEGER**

Integer mewakilkan **bilangan bulat** dari negatif hingga positif, contohnya -3, -2, 3, 4, dst.

Semisal, kita akan mencoba melakukan print angka `1`.

In [ ]:
# Coba kita print angka 1

print(1)

1

Untuk mengetahui **tipe data sebuah karakter** di cek dengan cara:

`type(VALUE)`

In [ ]:
# Coba jalankan code dibawah ini
# Coba cek tipe data angka 6

print(type(6))

<class 'int'>

Kita juga bisa mengetahui **tipe data dari sebuah variabel** dengan cara:

`type(NAMA_VAR)`

In [ ]:
# Jalankan code dibawah ini

int_1 = 1
print(type(int_1))

<class 'int'>

In [ ]:
# Coba cek tipe data variabel int_2 dibawah

int_2 = 44
print(type(int_2))

<class 'int'>

In [ ]:
# Coba buatlah variabel untuk menampung angka 1500000
# Kemudian cek tipe datanya

number_1 = 1500000
print(type(number_1))

<class 'int'>

**FLOAT**

Float adalah singkatan dari **floating point number**. Float mewakilkan bilangan rasional yang biasanya diakhiri dengan **angka desimal**, seperti 2.5, 3.14, 10.5 dsb.

Semisal, kita akan mencoba melakukan print angka `3.14`.

Untuk desimal di Python menggunakan titik `.`, bukan koma `,` sebagai pemisahnya.

In [ ]:
# Coba kita print angka 3,14

print(3.14)

3.14

Jika anda kurang yakin bahwa bilangan tersebut memiliki tipe data float bisa anda cek dengan cara:

`type(VALUE)`

In [ ]:
# Coba jalankan code dibawah ini

print(type(3.14))

<class 'float'>

Kita juga bisa mengetahui tipe data sebuah variabel dengan cara:

`type(NAMA_VAR)`

In [ ]:
# Coba cek tipe data dari variabel phi dibawah ini

phi = 3.14
print(type(phi))

<class 'float'>

In [ ]:
# Coba cek tipe data dari variabel float_1 dibawah

float_1 = 9.9
print(type(float_1))

<class 'float'>

In [ ]:
# Coba buatlah variabel yang menampung angka 89.70
# Kemudian cek tipe data variabel tersebut

float_2 = 89.70
print(type(float_2))

<class 'float'>

**OPERASI MATEMATIKA PADA PYTHON**

Operator adalah simbol khusus yang mewakili perhitungan seperti penambahan dan pengurangan.

![dasfs.JPG]()

**PERTAMBAHAN**

Operator tambah `(+)` akan menambahkan nilai di kedua sisi operator.

Silahkan lakukan operasi pertambahan 1 **ditambah** 1.

In [ ]:
print(1+1)

2

Silahkan lakukan operasi pertambahan 23 **ditambah** 29.

In [ ]:
print(23+29)

52

Kita juga bisa melakukan pertambahan dengan menggunakan variabel.

In [ ]:
# Coba isi titik-titik dibawah ini dengan operator tambah

num_1 = 4
num_2 = 4
print(num_1+num_2)

8

In [ ]:
# Coba buatlah 2 variabel untuk menampung angka 5 dan 6
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Kemudian lakukan operasi tambah 5 + 6 dengan variabel yang telah dibuat

angka_1 = 5
angka_2 = 6
print(angka_1+angka_2)

11

**PENGURANGAN**

Operasi kurang `(-)` akan mengurangi nilai sebelah kiri operator sebesar nilai sebelah kanan.

Silahkan lakukan operasi pengurangan 2 **dikurangi** 1.

In [ ]:
# Coba lengkapi kode dibawah ini

print(2-1)

1

Silahkan lakukan operasi pengurangan 10 **dikurangi** 3.

In [ ]:
# Coba isi titik-titik dibawah ini dan keluarkan hasil pengurangannya

print(10-3)

7

Kita juga bisa melakukan pengurangan dengan menggunakan variabel yang kita miliki atau buat sendiri.

In [ ]:
# Coba lengkapi kode dibawah ini dengan operator pengurangan

sub_1 = 5
sub_2 = 2
print(sub_1-sub_2)

3

In [ ]:
# Coba buatlah 2 variabel untuk menampung angka 18 dan 13
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Kemudian lakukan operasi pengurangan 18 - 13 dengan variabel yang telah dibuat

num_1 = 18
num_2 = 13
print(num_1-num_2)

5

**PERKALIAN**

Simbol kali `(*)` akan mengalikan nilai di kedua sisi operator

Silahkan lakukan operasi perkalian 2 **dikali** 3.

In [ ]:
# Coba lengkapi kode dibawah ini dengan operator perkalian

print(2*3)

6

Silahkan lakukan operasi perkalian 10 **dikali** 20.

In [ ]:
# Coba isi titik-titik dibawah ini dan keluarkan hasil perkaliannya

print(10*20)

200

Kita juga bisa melakukan perkalian dengan menggunakan variabel yang kita miliki atau buat sendiri.

In [ ]:
# Coba isi titik-titik dibawah ini dengan operator kali

mark_1 = 7
mark_2 = 5
print(mark_1*mark_2)

35

In [ ]:
# Coba buatlah 2 variabel untuk menampung angka 10 dan 8
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Kemudian lakukan operasi perkalian 10 * 8 dengan variabel yang telah dibuat

multi_1 = 10
multi_2 = 8
print(multi_1*multi_2)

80

**PEMBAGIAN**

Operator bagi `(/)` akan membagi angka disebelah kiri dengan angka sebelah kanan operator.

Silahkan lakukan operasi pembagian 4 **dibagi** 2

In [ ]:
# Coba lengkapi kode dibawah ini dengan operator pembagian

print(4/2)

2.0

Silahkan lakukan operasi pembagian 25 **dibagi** 5

In [ ]:
# Coba keluarkan hasil pembagiannya

print(25/5)

5.0

Kita juga bisa melakukan pembagian dengan menggunakan variabel yang kita miliki atau buat sendiri.

In [3]:
# Coba isi titik-titik dibawah ini dengan operator bagi

div_1 = 81
div_2 = 9
print(div_1/div_2)

9.0

In [4]:
# Coba buatlah 2 variabel untuk menampung angka 27 dan 3
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Kemudian lakukan operasi pembagian 27 / 3 dengan variabel yang telah dibuat

bagi_1 = 27
bagi_2 = 3
print(bagi_1/bagi_2)

9.0

**MINI EXERCISE**

Sebagai seorang Analyst, anda ingin mengetahui rata-rata penjualan toko selama 3 bulan. Datanya sebagai berikut:

![asgr.JPG]()

Berapakah rata-rata pendapatan penjualan toko anda selama tiga bulan?

In [6]:
# Statement variabel yaitu bulan 1, bulan 2, bulan 3 dan banyaknya bulan yang akan dihitung rata-ratanya
bulan_1 = 2578500
bulan_2 = 2867400
bulan_3 = 3100600
banyak_bulan = 3

# Menghitung rata - rata penjualan
rata_rata = (bulan_1+bulan_2+bulan_3)/banyak_bulan

print("Rata - rata pendapat penjualan toko adalah", rata_rata)

Rata - rata pendapat penjualan toko adalah 2848833.3333333335

**FLOOR DIVISION**

Floor division berarti **membagi dan membulatkan ke bawah** ke bilangan bulat terdekat.

Jika pembagian biasa, contohnya `7 / 2 = 3.5` maka floor devision akan membulatkan ke bawah ke bilangan bulat terdekat, berarti `7 // 2 = 3`.

Silahkan lakukan operasi 7 **floor division** 2.

In [7]:
# Coba lengkapi kode dibawah ini dengan operator floor division

print(7//2)

3

Silahkan lakukan operasi 8 **floor division** 3.

In [8]:
# Coba keluarkan hasil pembagiannya

print(8//3)

2

Kita juga bisa melakukan operasi floor devision dengan menggunakan variabel yang kita miliki atau buat sendiri.

In [9]:
# Lengkapi code dibawah ini dengan operator floor division

fDivision_1 = 33
fDivision_2 = 9
print(fDivision_1//fDivision_2)

3

In [10]:
# Buatlah 2 variabel untuk menampung angka 15 dan 4
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Lakukan operasi 15 floor division 4 dengan variabel yang sudah dibuat

floor_div_1 = 15
floor_div_2 = 4
print(floor_div_1//floor_div_2)

3

**MODULO (SISA BAGI HASIL)**

Mungkin anda berpikir kalau simbol `%` artinya adalah persen. Namun pada Python ini disebut **Modulo**.

Misalnya, anda memiliki 5 apel dan akan dibagikan ke dua teman anda. Jika setiap orang mendapatkan apel utuh dalam jumlah yang sama, berapa sisa apel anda?

Silahkan lakukan operasi 5 **modulo** 2.

In [11]:
# Coba lengkapi titik - titik dibawah ini dengan operasi modulo

print(5%2)

1

Silahkan lakukan operasi 17 modulo 3.

In [12]:
# Coba keluarkan hasil operasi modulo dibawah

print(17%3)

2

Kita juga bisa melakukan operasi modulo dengan variabel yang dimiliki atau anda buat sendiri.

In [13]:
# Coba lengkapi titik-titik dibawah ini dengan operasi modulo

mod_1 = 44
mod_2 = 7
print(mod_1%mod_2)

2

In [14]:
# Coba buatlah 2 variabel untuk menampung angka 64 dan 6
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Lakukan operasi 64 modulo 6 dengan variabel yang sudah dibuat

modulo_1 = 64
modulo_2 = 6
print(modulo_1%modulo_2)

4

**PANGKAT**

Operasi pangkat pada Python dilambangkan dengan `**`.

Silahkan lakukan operasi 3 **pangkat** 2.

In [15]:
# Coba lengkapi titik - titik dibawah ini dengan operasi pangkat

print(3**2)

9

Silahkan lakukan operasi 4 **pangkat** 4

In [16]:
# Coba keluarkan hasil operasi pangkat

print(4**4)

256

Kita juga bisa melakukan operasi pangkat dengan variabel yang kita miliki atau buat sendiri.

In [17]:
# Coba lengkapi titik-titik dibawah ini dengan operasi pangkat

mark_1 = 2
mark_2 = 9
print(mark_1**mark_2)

512

In [18]:
# Coba buatlah 2 variabel untuk menampung angka 9 dan 4
# Untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# Kemudian lakukan operasi 9 pangkat 4 dengan variabel yang sudah dibuat

pangkat_1 = 9
pangkat_2 = 4
print(pangkat_1**pangkat_2)

6561

**MINI EXERCISE**

Doni membeli 2 kotak Martabak Manis. Didalam 1 kotak, Martabak Manis dipotong menjadi 10 bagian. Doni kemudian menyantapnya bersama 6 orang temannya. Jika setiap orang mendapat jumlah yang sama. Berapakah sisa Martabak Manis di dalam kotak?

In [20]:
# Statement variabel yang di-declare adalah isi satu kotak martabak, total isi martabak,
# total orang yang memakan martabak
satu_kotak_martabak = 10
total_martabak = 10*2
total_yang_memakan = 7

# Sisa martabak dihitung dari total isi martabak di modulo dengan total orang yang
# memakan martabak
sisa_martabak = total_martabak%total_yang_memakan

print(sisa_martabak)

6

**EXERCISE**

1. Pak Hartono agak kesal karena harga BBM naik dari Rp 7650 per liter menjadi Rp 10000 per liter. Jika sebelumnya beliau membeli Rp 20000 sudah full tank, berapa liter yang harus dibayar Pak Hartono jika mengisi full tank dengan harga yang baru?

In [22]:
# Declare variabel yang berisi harga BBM lama, harga BBM baru dan harga fulltank dengan harga BBM lama
harga_bbm_lama = 7650
harga_bbm_baru = 10000
harga_fulltank_lama = 20000

# Hitung kapasitas tanki untuk menghitung harga fulltank dengan harga BBM baru
kapasitas = harga_fulltank_lama/harga_bbm_lama

# Hitung harga fulltank dengan harga BBM baru
harga_fulltank_baru = harga_bbm_baru*kapasitas

print(harga_fulltank_baru)

26143.7908496732

2. Putra bekerja di sebuah perusahaan swasta. Beliau mendapatkan gaji tahunan sebesar Rp 160 juta dan dibayarkan setiap dua minggu. Jika dalam satu tahun gaji tersebut dibayarkan sebanyak 26 kali, berapakah gaji yang di dapatkan Putra selama dua minggu?

In [23]:
# Declare variabel yaitu gaji tahunan dan berapa kali gaji tersebut dibayarkan dalam setahun
gaji_tahunan = 160_000_000
jumlah_dibayarkan = 26

# Hitung gaji yang diterima setiap 2 minggu
gaji_dua_minggu = gaji_tahunan/jumlah_dibayarkan

print(gaji_dua_minggu)

6153846.153846154