<a href="https://colab.research.google.com/github/suryoadi12/PACMANN_SKILLS100/blob/main/Basic%20Python%20Programming/6.3%20Composite%20Data%20Structure%3A%20Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pertemuan #5 - Composite Data Structure**

**WHAT IS TUPLE**

**Tuple** merupakan sebuah struktur data yang nilainya dapat berupa tipe data apa saja. `Tuple` sangat mirip dengan `list`. Perbedaan pentingnya adalah `tuple` tidak dapat diubah (**immutable**).

Sebuah `tuple` dalam Python di representasikan dengan **tanda kurung** () dan dipisahkan oleh **tanda koma** `,`.

**HOW TO MAKE TUPLES**

Mari kita coba membuat tuple

In [1]:
# Coba jalankan code dibawah ini

("Apel", "Jeruk", "Mangga")

print(("Apel", "Jeruk", "Mangga"))

('Apel', 'Jeruk', 'Mangga')

Tuple juga bisa di deklarasikan dengan variabel.

In [2]:
# Coba jalankan code dibawah ini

nama_buah = ("Apel", "Jeruk", "Mangga")
print(nama_buah)

('Apel', 'Jeruk', 'Mangga')

Untuk memastikan variabel tersebut adalah sebuah tuple maka bisa dicek dengan `type()`.

In [3]:
# Coba jalankan code di bawah ini

nama_buah = ("Apel", "Jeruk", "Mangga")
print(f"Tipe data dari variabel nama_buah adalah {type(nama_buah)}")

Tipe data dari variabel nama_buah adalah <class 'tuple'>

In [4]:
# Coba buat sebuah tuple yang menampung tiga nama warna

nama_warna = ("Biru", "Merah", "Hijau")
print(nama_warna)

('Biru', 'Merah', 'Hijau')

Untuk membuat tuple dengan hanya **satu element** saja, kita harus tetap **memasukkan** tanda koma di akhir.

In [6]:
tuple_1 = ("Jeruk",)
print(tuple_1)
print(type(tuple_1))

('Jeruk',)
<class 'tuple'>

Jika kita tidak memasukkan tanda koma yang terakhir maka python akan mengidentifikasi variabel tersebut sebagai `string`.

In [7]:
tuple_2 = ("Anggur")
print(type(tuple_2))

<class 'str'>

Sebuah `tuple` yang tidak berisi elemen apapun disebut **empty tuple**. Kita dapat membuatnya dengan tanda kurung kosong `()`.

In [8]:
# Coba jalankan code di bawah ini

empty_tuple_1 = ()
print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

**Empty tuple** juga bisa dibuat dengan notasi `tuple()`.

In [9]:
empty_tuple_2 = tuple()
print(empty_tuple_2)
print(type(empty_tuple_2))

()
<class 'tuple'>

Indeks pada `tuple` mirip seperti indeks pada `list`. Perbedaanya hanya **element pada tuple tidak bisa dihapus**. Indeks dapat digunakan untuk **menemukan** element atau item tertentu.

Kita akan mencoba mengambil element pada tuple dibawah.

In [13]:
# Coba jalankan code di bawah ini

angka = (25, 47, 19, 13, 44, 78, 92, 73, 35, 66, 10)
print(f"Elemen pada indeks ke 4 pada tuple angka adalah {angka[4]}")
print(f"Elemen pada indeks ke 9 pada tuple angka adalah {angka[9]}")
print(f"Elemen pada indeks ke 9 pada tuple angka adalah {angka[0]}")

Elemen pada indeks ke 4 pada tuple angka adalah 44
Elemen pada indeks ke 9 pada tuple angka adalah 66
Elemen pada indeks ke 9 pada tuple angka adalah 25

In [14]:
# Coba ambil element pada indeks ke-3 dan 1 tuple di bawah

angka = (25, 47, 19, 13, 44, 78, 92, 73, 35, 66, 10)
print(f"Elemen pada indeks ke 3 pada tuple angka adalah {angka[3]}")
print(f"Elemen pada indeks ke 1 pada tuple angka adalah {angka[1]}")

Elemen pada indeks ke 3 pada tuple angka adalah 13
Elemen pada indeks ke 1 pada tuple angka adalah 47

Jika kita ingin mengambil element pada indeks ke `n` sampai akhir indeks tuple, bisa menggunakan `[n:]`.

In [22]:
# Coba kita jalankan code di bawah ini

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f"Elemen pada indeks ke 2 sampai akhir adalah {bunga[2:]}")

Elemen pada indeks ke 2 sampai akhir adalah ('Mawar', 'Lavender', 'Asoka')

In [19]:
# Coba ambil element indeks ke 3 sampai terakhir pada tuple bunga di bawah

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f"Elemen pada indeks ke 3 sampai akhir adalah {bunga[3:]}")

Elemen pada indeks ke 3 sampai akhir adalah ('Lavender', 'Asoka')

Jika kita ingin mengambil element pada awal tuple sampai indeks ke `m-1`, bisa menggunakan `[:m]`.

In [23]:
# Coba kita jalankan code di bawah ini

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f"Elemen pada indeks pertama sampai ke 3 adalah {bunga[:4]}")

Elemen pada indeks pertama sampai ke 3 adalah ('Sepatu', 'Matahari', 'Mawar', 'Lavender')

In [25]:
# Coba ambil element indeks pertama sampai indeks ke 2 pada tuple bunga di bawah

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f"Elemen pada indeks pertama sampai ke 2 adalah {bunga[:2]}")

Elemen pada indeks pertama sampai ke 2 adalah ('Sepatu', 'Matahari')

Untuk mengambil indeks dengan **angka negatif** pada `tuple` caranya sama dengan saat kita menggunakan `list` ataupun `string`.

In [26]:
# Coba jalankan code di bawah ini

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f"Elemen pada indeks negatif dua pada tuple bunga adalah {bunga[-2]}")

Elemen pada indeks negatif dua pada tuple bunga adalah Lavender

In [27]:
# Coba ambil element indeks negatif tiga pada tuple dibawah

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f"Elemen pada indeks negatif dua pada tuple bunga adalah {bunga[-3]}")

Elemen pada indeks negatif dua pada tuple bunga adalah Mawar

**Slicing** pada `tuple` juga sama sintaknya dengan `list` ataupun `string`.

Caranya dengan sintak `NAMA_TUPLE[start:stop]`. Sintaks tersebut ini akan mengambil element dari indeks `start` sampai ke indeks `stop-1` dari sebuah `tuple`.

In [29]:
# Coba jalankan code di bawah ini
# Kita akan mengambil element pada indeks ke-0 sampai ke-2 pada tuple bunga

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f"Elemen pada indeks ke 0 sampai indeks ke 2 pada tuple bunga adalah {bunga[0:3]}")

Elemen pada indeks ke 0 sampai indeks ke 2 pada tuple bunga adalah ('Sepatu', 'Matahari', 'Mawar')

In [30]:
# Coba ambil element pada indeks ke 1 sampai 3 pada tuple bunga

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(f"Elemen pada indeks ke 1 sampai indeks ke 3 pada tuple bunga adalah {bunga[1:4]}")

Elemen pada indeks ke 1 sampai indeks ke 3 pada tuple bunga adalah ('Matahari', 'Mawar', 'Lavender')

Kita juga bisa slicing dengan kombinasi indeks negatif dan positif.

In [32]:
# Coba jalankan kode di bawah ini

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(bunga[1:-1])

('Matahari', 'Mawar', 'Lavender')

In [36]:
# Coba ambil element antara Sepatu sampai Mawar pada tuple bunga
# Dengan kombinasi indeks negatif dan positif

bunga = ('Sepatu', 'Matahari', 'Mawar', 'Lavender', 'Asoka')
print(bunga[0:-2])

('Sepatu', 'Matahari', 'Mawar')

**TUPLE ARE IMMUTABLE**

Ini adalah perbedaan utama `tuple` dengan sebuah `list`.

Jika sebuah `list` memiliki sifat **mutable** maka `tuple` memiliki sifat **immutable**.

Tipe data yang **immutable** (tidak dapat diubah) berarti kita tidak bisa mengubah atau memodifikasi nilai dari tipe data tersebut.

Jika pada list kita bisa mengubah element dengan langsung mengakses indeks dan memberikan nilai baru.

**LIST**

In [37]:
# Coba jalankan code di bawah

list_hewan = ['Kecapung', 'Bunglon', 'Komodo']
list_hewan[0] = 'Kadal'
print(f'{list_hewan}')

['Kadal', 'Bunglon', 'Komodo']

**TUPLE**

In [38]:
# Coba ubah bunga matahari menjadi kamboja

tuple_hewan = ('Kecapung', 'Bunglon', 'Komodo')
tuple_hewan[0] = 'Kadal'
print(f'{tuple_hewan}')

TypeError: 'tuple' object does not support item assignment

**TUPLE METHODS**

Tidak seperti `list` dan `dictionary` yang memiliki banyak method, `tuple` hanya memiliki sedikit karena sifat **immutable** yang dimilikinya.

misalkan:

tuple_1 = (3, 3, 4, 5)

tuple_2 = ('string_1', 'string_3')

![saflsdjf.JPG]()

**len()**

Method `len()` akan mengembalikan panjang dari suatu tuple.

In [40]:
# Coba jalankan code di bawah ini

siswa = ('Andi', 'Gilang', 'Bagus', 'Putra', 'Dwi')
print(f'Panjang tuple siswa adalah {len(siswa)}')

Panjang tuple siswa adalah 5

In [42]:
# Coba cari tau berapa panjang list karyawan di bawah

karyawan = ['Joko', 'Alex', 'Chandra', 'Hartono', 'Samsul']
print(f"Panjang tuple karyawan adalah {len(karyawan)}")

Panjang tuple karyawan adalah 5

**in**

Untuk memeriksa apakah suatu value atau element ada di dalam tuple atau tidak, kita bisa menggunakan `in`.

In [45]:
# Coba jalankan code di bawah
siswa = ('Andi', 'Gilang', 'Bagus', 'Putra', 'Dwi')

# Kita akan mengecek apakah nama Gilang ada di variabel siswa atau tidak
print(f'{"Gilang" in siswa}')

True

Jika sebuah element atau nilai tidak ada pada suatu tuple, maka outputnya `False`.

In [44]:
# Coba jalankan code di bawah
siswa = ('Andi', 'Gilang', 'Bagus', 'Putra', 'Dwi')

# Kita akan mengecek apakah nama Sam Pitak ada di variabel siswa atau tidak
print(f'{"Sam Pitak" in siswa}')

False

In [46]:
# Coba buatlah tuple yang menyimpan warna Putih, Hitam, Merah
warna = ('Putih', 'Hitam', 'Merah')

# Kemudian periksa dengan method in apakah ada warna Biru atau tidak
print('Biru' in warna)

False

**index()**

Method `index()` berfungsi untuk mengetahui element yang kita sebut ada di indeks ke berapa.

In [52]:
# Coba jalankan code di bawah ini
# Kita akan cek Liverpool ada di indeks ke berapa

football_club = ("AC Milan", "Bayern Munchen", "Liverpool", "Real Madrid", "Manchester United", "PSG", "Ajax")
print(f"Liverpool ada di indeks ke {football_club.index('Liverpool')}")

Liverpool ada di indeks ke 2

In [53]:
# Coba cek AC Milan dan Manchester United ada di indeks ke berapa

football_club = ("AC Milan", "Bayern Munchen", "Liverpool", "Real Madrid", "Manchester United", "PSG", "Ajax")
print(f"AC Milan ada di indeks ke {football_club.index('AC Milan')} dan Manchester United ada di indeks ke {football_club.index('Manchester United')}")

AC Milan ada di indeks ke 0 dan Manchester United ada di indeks ke 4

**count()**

Jika ingin mengetahui jumlah suatu element pada tuple, kita bisa menggunakan method `count()`.

In [54]:
# Coba jalankan code di bawah
angka = (2, 3, 5, 6, 1, 2, 4, 1, 2, 1, 3, 4, 6, 12)

# Kita akan menghitung banyak kemunculan angka 1 pada tuple angka
print(f"Kemunculan angka 1 pada tuple angka sebanyak {angka.count(1)} kali")

Kemunculan angka 1 pada tuple angka sebanyak 3 kali

In [55]:
# Coba hitung kemunculan angka 2 pada tuple angka
angka = [2, 3, 5, 6, 1, 2, 4, 1, 2, 1, 3, 4, 6, 12, 9, 18, 5, 4, 8, 3, 2, 8, 10, 4, 6, 2, 7]
print(f"Kemunculan angka 2 pada tuple angka sebanyak {angka.count(2)} kali")

Kemunculan angka 2 pada tuple angka sebanyak 5 kali