<a href="https://colab.research.google.com/github/suryoadi12/PACMANN_SKILLS100/blob/main/Basic%20Python%20Programming/7.1%20Looping%3A%20For%20Loop%20I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pertemuan #6 - Looping**

**FOR LOOP**

Biasanya jika kita ingin mencetak sesuatu kita menggunakan keyword print. Namun ini akan menjadi tidak efisien jika kita print kata yang berulang kali. Misalnya seperti print 10 bilangan awal secara berurutan. Jadi kode yang kita pakai:

print(1)

print(2)

print(3)

...

print(10)

Bagaimana jika ingin print 50 atau 100 lagi? Pasti akan capek dan hal ini tidak efisien.

Kita bisa otomatisasi print hal yang berulang tersebut dengan `for` loop.

Struktur perulangan `for` adalah sebagai berikut:

    for iterator_variable in sequence_name:
      Statements
    . . .
      Statements


*   Keyword `for` menandakan awal dari `for` loop.

*   `iterator_variabel` adalah variabel yang kita gunakan untuk menyimpan nilai pada saat kita melakukan for loop
*   Keyword `in` memberi tahu variabel iterator untuk mengulang elemen dalam urutan


*   `sequence_name` adalah tipe data yang memiliki urutan, seperti list, set, tuple, dictionary dll.

**FOR LOOPING IN A NUMBER**

Jika kita ingin mencetak kalimat beberapa kali kita bisa menggunakan angka sebagai penanda.

Contohnya kita akan mencetak kalimat "Hello World" sebanyak lima kali.

In [2]:
# Coba jalankan code di bawah ini

for angka in 0, 1, 2, 3, 4, 5:
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [3]:
# Kita juga bisa mencetak angka yang digunakan sebagai penanda

for angka in 0, 1, 2, 3, 4, 5:
    print(f'Hello World ke-{angka}')

Hello World ke-0
Hello World ke-1
Hello World ke-2
Hello World ke-3
Hello World ke-4
Hello World ke-5

Perhatikan penulisan kelompok angka `(0, 1, 2, 3, 4, 5)` di atas. Jika kita ingin melakukan perulangan dengan jumlah yang kecil maka masih memungkinkan. Bagaimana jika kita akan melakukan 100 atau bahkan 1.000 perulangan? Cara tersebut tentu tidak efektif.

Untuk mengatasi hal tersebut, kita bisa menggunakan `range()`.

`range()` akan membuat **kumpulan angka** secara otomatis sesuai yang kita inginkan. Cara penggunaanya adalah `range(begin, end, step)`.



*   `begin` adalah angka pertama di dalam range, secara default adalah 0.

*   `end` adalah angka 1 step setelah angka terakhir, tidak memiliki default.
*   `step` adalah besar dari kenaikan atau penurunan, secara default adalah 1.

Jika kita hanya memberikan satu nilai pada `range` berarti yang didefinisikan adalah angka untuk parameter `end`.

In [4]:
# Coba jalankan code di bawah ini

for angka in range(5):
  print(angka)

0
1
2
3
4

Jika kita definisikan dua angka pada `range()` berarti yang didefinisikan adalah angka untuk parameter `begin` dan `end`.

Cara ini bisa digunakan untuk membuat deret angka tertentu yang kita inginkan. Misalnya dari 100 sampai 200 atau 50 sampai 100

In [5]:
# Kita akan print dari angka 5 sampai 10

for angka in range(5, 11):
  print(angka)

5
6
7
8
9
10

In [6]:
# Coba print angka 10 sampai 20 menggunakan method range()

for angka in range(10, 21):
  print(angka)

10
11
12
13
14
15
16
17
18
19
20

Bagaimana kalo kita hanya ingin mencari angka genapnya saja? Semisal kita ingin mencari ID pelanggan yang bernomor genap.

Kita bisa mendefinisikan tiga parameter angka pada `range()`.



*   Angka yang pertama untuk parameter `begin` sebagai awal kita mulai dari angka berapa.

*   Kedua untuk parameter `end` atau angka akan berakhir dimana.
*   dan ketiga untuk parameter `step` atau berapa jarak antar angka pada deret yang kita inginkan.


*   Jadi penulisannya `range(begin, end, step)`.

In [14]:
# Coba jalankan kode dibawah
# Kita akan print angka genap dari 1 sampai 10

for angka in range(0, 10, 2):
    print(angka)

0
2
4
6
8

Apakah bisa jika kita ingin membuat deret angka dari **besar ke kecil** ? Bisa. Caranya dengan membuat parameter `step` bernilai **negatif**.

In [10]:
# Coba jalankan code dibawah
# Deret angka akan bergerak dari angka 10 sampai 0 karena step memiliki indeks negatif

for angka in range(10, 0, -1):
    print(angka)

10
9
8
7
6
5
4
3
2
1

In [15]:
# Coba buatlah for loop untuk mendapatkan bilangan ganjil dari 0 sampai 10

for angka in range(1, 10, 2):
  print(angka)

1
3
5
7
9

**NESTED LOOP**

Sebuah `loop` juga bisa berada di dalam `loop` lainnya untuk mengejakan sebuah pekerjaan yang lebih kompleks.

Kita ambil contoh dari sebuah tanggal. Pada tanggal ada hitungan hari, bulan dan tahun, Setiap satu tahun terdiri dari 12 bulan, dan setiap bulan terdiri dari 30 hari. Hal ini disebut dengan **nested loop**, atau perulangan yang berada pada perulangan lainnya.

In [18]:
# Coba jalankan code di bawah ini

for bulan in range(1, 13):
  print(f"Bulan {bulan}")
  for tanggal in range(1, 32):
    print(f"Tanggal {tanggal}")

Bulan 1
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 2
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 3
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 4
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 5
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 6
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 7
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 8
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 9
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 10
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 11
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31
Bulan 12
Tanggal 1
Tanggal 2
Tanggal 3
Tanggal 4
Tanggal 5
Tanggal 6
Tanggal 7
Tanggal 8
Tanggal 9
Tanggal 10
Tanggal 11
Tanggal 12
Tanggal 13
Tanggal 14
Tanggal 15
Tanggal 16
Tanggal 17
Tanggal 18
Tanggal 19
Tanggal 20
Tanggal 21
Tanggal 22
Tanggal 23
Tanggal 24
Tanggal 25
Tanggal 26
Tanggal 27
Tanggal 28
Tanggal 29
Tanggal 30
Tanggal 31

Bisa dilihat pada nested loop di atas bahwa konsep dari **nested loop** adalah:



*   Untuk satu kali iterasi dari loop yang luar.
*   Loop yang di dalam akan menyelesaikan satu siklus.

In [19]:
# Coba jalankan code dibawah
# Kita akan membuat tabel pertambahan dari 1 dan 2 dari angka 1 sampai 5

for angka_1 in range(1,3):
    for angka_2 in range(1,6):
        pertambahan = angka_1 + angka_2
        print(f'{angka_1} + {angka_2} = {pertambahan}')
    print('---')

1 + 1 = 2
1 + 2 = 3
1 + 3 = 4
1 + 4 = 5
1 + 5 = 6
---
2 + 1 = 3
2 + 2 = 4
2 + 3 = 5
2 + 4 = 6
2 + 5 = 7
---

In [22]:
# Untuk latihan coba buat tabel perkalian dari 3 dan 4 dari angka 1 sampai 5

for angka_1 in range(3, 5):
  for angka_2 in range(1, 6):
    perkalian = angka_1 * angka_2
    print(f"{angka_1} x {angka_2} = {perkalian}")
  print("---")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
---

**FOR LOOPING OVER A COMPOSITE DATA STRUCTURE**

Bagaimana jika kita ingin melakukan perulangan pada sebuah **Composite Data Structure**?

`Loop` juga bisa bekerja dalam Composite Data Structure karena `loop` membutuhkan sebuah sequence atau data yang memiliki urutan.

Untuk mengakses element pada list, tuple, dan set dengan perulangan, caranya sama.

In [28]:
# Coba jalankan code di bawah ini
# Ini adalah perulangan dengan list

list_kota = ["Jakarta", "Bandung", "Surabaya", "Semarang", "Solo", "Yogyakarta", "Malang"]
print(type(list_kota))
for kota in list_kota:
    print(kota)

<class 'list'>
Jakarta
Bandung
Surabaya
Semarang
Solo
Yogyakarta
Malang

In [26]:
# Coba jalankan code di bawah ini
# Ini adalah perulangan dengan tuple

tuple_kota = ("Jakarta", "Bandung", "Surabaya", "Yogyakarta")
print(type(tuple_kota))
for kota in tuple_kota:
  print(kota)

<class 'tuple'>
Jakarta
Bandung
Surabaya
Yogyakarta

Perbedaanya hanya ada pada `set`, karena `set` tidak menyimpan datanya sesuai urutan pada saat kita membuatnya.

In [27]:
# Coba jalankan code di bawah ini
# Ini adalah perulangan dengan set

set_kota = {"Jakarta", "Bandung", "Surabaya", "Yogyakarta"}
print(type(set_kota))
for kota in set_kota:
    print(kota)

<class 'set'>
Surabaya
Yogyakarta
Bandung
Jakarta

Untuk `looping` pada dictionary memerlukan perlakuan khusus, karena di dalam dictionary memiliki key-value.

Jika kita langsung loop dictionary dengan metode seperti pada list, tuple, dan set, yang akan muncul hanya key-nya saja.

In [29]:
# Coba jalankan code di bawah ini

dict_kota = {"Kota 1": "Jakarta", "Kota 2": "Bandung", "Kota 3": "Surabaya", "Kota 4": "Yogyakarta"}
print(type(dict_kota))
for kota in dict_kota:
  print(kota)

<class 'dict'>
Kota 1
Kota 2
Kota 3
Kota 4

Ada beberapa cara untuk bisa menampilkan key dan value dictionary secara bersama.

Pada materi dictionary sudah dibahas mengenai cara untuk mengakses value dengan key.

In [33]:
# Coba jalankan code di bawah ini

dict_kota = {"Kota 1": "Jakarta", "Kota 2": "Bandung", "Kota 3": "Surabaya", "Kota 4": "Yogyakarta"}
print(dict_kota['Kota 2'])

Bandung

Jika kita print dictionary seperti cara list, tuple dan set hanya akan muncul Key, maka kita bisa memberikan key tersebut kepada nama dictionary untuk mengakses value.

In [35]:
# Cara pertama
dict_kota = {"Kota 1": "Jakarta", "Kota 2": "Bandung", "Kota 3": "Surabaya", "Kota 4": "Yogyakarta"}
for kota in dict_kota:
    print(f'Key: {kota} | Value: {dict_kota[kota]}')

Key: Kota 1 | Value: Jakarta
Key: Kota 2 | Value: Bandung
Key: Kota 3 | Value: Surabaya
Key: Kota 4 | Value: Yogyakarta

Cara kedua yaitu dengan menggunakan method `items()`. Method ini akan mengembalikan semua element pada dictionary sebagai tuple yang berisi key-value.

In [36]:
# Coba jalankan code dibawah

dict_kota = {"Kota 1": "Jakarta", "Kota 2": "Bandung", "Kota 3": "Surabaya", "Kota 4": "Yogyakarta"}
print(dict_kota.items())

dict_items([('Kota 1', 'Jakarta'), ('Kota 2', 'Bandung'), ('Kota 3', 'Surabaya'), ('Kota 4', 'Yogyakarta')])

Method `item()` akan memberikan kita key dan value dari dictionary, namun apakah key dan value bisa langsung kita masukkan untuk perulangan?

Kita bisa memanfaatkan **unpacking** untuk hal tersebut.

In [37]:
# Jika sebuah tuple memiliki tiga element
# Kita bisa memberikan variabel kepada tiga element tersebut

numb_tuple = (1, 2, 3)
x, y, z = numb_tuple

print(f'Nilai x: {x} | Nilai y: {y} | Nilai z = {z}')

Nilai x: 1 | Nilai y: 2 | Nilai z = 3

Dengan method `items()` dan `unpacking` kita bisa langsung mendapatkan key-value dari sebuah dictionary.

In [38]:
# Coba jalankan code di bawah ini

dict_kota = {"Kota 1": "Jakarta", "Kota 2": "Bandung", "Kota 3": "Surabaya", "Kota 4": "Yogyakarta"}
for key, value in dict_kota.items():
  # Variabel key, value akan menyimpan nilai key dan value dari method items()
  print(f"Key: {key} | Value: {value}")

Key: Kota 1 | Value: Jakarta
Key: Kota 2 | Value: Bandung
Key: Kota 3 | Value: Surabaya
Key: Kota 4 | Value: Yogyakarta

In [40]:
# Coba print nama karyawan dalam gaji_dict dan gajinya
# Manfaatkan method items()

gaji_dict = {'Dika': 4_000_000, 'Rendy': 3_5000_000, 'Satria': 5_000_000}
for key, value in gaji_dict.items():
    print(f'Nama {key} | Gaji Rp {value}')

Nama Dika | Gaji Rp 4000000
Nama Rendy | Gaji Rp 35000000
Nama Satria | Gaji Rp 5000000

In [42]:
# Coba buatlah dictionary yang menampung -
# Key nama Andika, Bayu, Rizal dan value pekerjaan Programmer, Arsitek, PNS

nama_dict = {"Andika": "Programmer", "Bayu": "Arsitek", "Rizal": "PNS"}

# Kemudian print key dan value dari dict tersebut (cara yang digunakan bebas)
for nama, pekerjaan in nama_dict.items():
    print(f"Nama {nama} | Pekerjaan {pekerjaan}")

Nama Andika | Pekerjaan Programmer
Nama Bayu | Pekerjaan Arsitek
Nama Rizal | Pekerjaan PNS

**FOR LOOPING WITH ENUMERATE**

Saat melakukan perulangan biasanya kita akan menggunakan suatu variabel untuk menampilkan penghitungan perulangannya sampai pada angka berapa. misalkan kita akan mencetak kata hello world tiga kali.

    for angka in range(1,4):

      print(f'hello world ke-{angka}')

output:

hello world ke-1

hello world ke-2

hello world ke-3

Daripada kita menggunakan variabel baru, ada cara yang lebih bagus lagi yaitu dengan method `enumerate()`.

Penggunaan method enumerate adalah

`enumerate(iterable, start=0)`



*   parameter `iterable` diisi dengan tipe data yang memiliki urutan.
*   parameter `start` untuk memulai perhitungannya dari angka berapa.

In [43]:
# Coba jalankan code di bawah ini

list_kota = ["Jakarta", "Bandung", "Surabaya", "Yogyakarta", "Malang"]
for kota in enumerate(list_kota):
  print(kota)

(0, 'Jakarta')
(1, 'Bandung')
(2, 'Surabaya')
(3, 'Yogyakarta')
(4, 'Malang')

Bagaimana jika kita ingin memulai angka bukan dari 0? Misalkan kita mulai angkanya dari 10.

Kita cuma harus menambahkan parameter `start`.

In [44]:
# Coba jalankan code di bawah ini

list_kota = ["Jakarta", "Bandung", "Surabaya", "Yogyakarta", "Malang"]
for kota in enumerate(list_kota, start=10):
  print(kota)

(10, 'Jakarta')
(11, 'Bandung')
(12, 'Surabaya')
(13, 'Yogyakarta')
(14, 'Malang')

Atau jika kita ingin membuat print lebih menarik lagi bisa menggunakan **unpack**.

In [45]:
# Coba jalankan code di bawah ini

list_kota = ["Jakarta", "Bandung", "Surabaya", "Yogyakarta", "Malang"]
for num, kota in enumerate(list_kota, start=10):
  print(f"Nomor {num} adalah kota {kota}")

Nomor 10 adalah kota Jakarta
Nomor 11 adalah kota Bandung
Nomor 12 adalah kota Surabaya
Nomor 13 adalah kota Yogyakarta
Nomor 14 adalah kota Malang

In [46]:
# Coba print absen siswa pada list siswa di bawah dengan method enumerate
# Gunakan juga metode unpack

list_siswa = ['Bagus', 'Dina', 'Gilang', 'Putri']

for num, siswa in enumerate(list_siswa, start=1):
    print(f'Absen ke-{num}: {siswa}')

Absen ke-1: Bagus
Absen ke-2: Dina
Absen ke-3: Gilang
Absen ke-4: Putri